requests
beautifulsoup4
stevedore
joblib
# -e git+git@github.com:eregs/regulations-parser.git#egg=regulations-parser
# -e git+file:///Users/anthonygarvan/Documents/Projects/regulations-parser#egg=regulations-parser
